.Finished_Semester{
    
    background-color: green ;
}

table {

    padding: 15px; /* Fixed padding issue */
    margin: auto; /* Centers the table */
    border-collapse: collapse; 
}

td, th {
    padding: 10px; /* Adds padding inside cells */
    text-align: center; /* Centers text inside table cells */
}
