/* <!-- 🔹 Primary Colors: #007BFF, #4DA8DA, #a2b9cf --> */
/* ------------------------------------------------------- */
* {
  /* reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #101827;
}

body {
  border: #007bff solid 0.01rem;
}

header {
  background-color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}
.search-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
}
.header-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.4s;
}
.header-btn:hover {
  background-color: #4da8da;
}
.searchBar {
  width: 15rem;
  height: 2rem;
  padding: 0.5rem;
}
.searchBar:focus {
  border: #007bff solid 0.07rem;
}

main {
  color: white;
  padding: 0.5rem;
  height: 100vh;
}

.course-card {
  color: #007bff;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 0.2rem;
  margin: 0.5rem;
  transition: 0.4s;
}
.course-card p {
  color: #4da8da;
}
.course-card a {
  color: #a2b9cf;
}
.course-card:hover {
  cursor: pointer;
  scale: 1.025;
}

footer {
  padding: 0.5rem;
  color: #007bff;
  background-color: white;
}
