* {
  color: black;
  /* reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #eaeaea92;
}

.container {
  display: grid;
  grid-template-areas: "header" "body footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: "header";
  background-color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0.5rem; */
  padding: 0.3rem 0.5rem;
}

.search-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
} /*The container of all the header elements*/

.searchBar {
  width: 15rem;
  height: 2rem;
  padding: 0.5rem;
  outline: none;
}

.searchBar:focus {
  border: #9ed7b3 solid 0.2rem;
}

.header-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  /* transition is a delay for the rule
    i.e: When pointing at it it makes the rule slower doesn't just instantly apply the rule*/
}

.header-btn:hover {
  background-color: #9ed7b3;
  border-radius: 50%;
}

main {
  grid-area: "main";
  color: white;
  padding: 1rem;
  border-width: 0.2rem;
}

.courseInfo,
.studentList,
.assignmentsExams,
.gradeManagement,
.studentFinalGrade {
  background-color: white;
  color: #28a745;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border-left: 4px solid #28a745;
  padding: 1rem;
  margin: 0.5rem;
  transition: 0.4s;
}

.courseInfo:hover,
.studentList:hover,
.assignmentsExams:hover,
.gradeManagement:hover,
.studentFinalGrade:hover {
  cursor: pointer;
  scale: 1.025;
  /*Scale is the way whe you hover at an div element it focuses on it sacles it up more than others*/
}

.courseInfo h2,
.studentList h2,
.assignmentsExams h2,
.gradeManagement h2,
.studentFinalGrade h2 {
  color: #28a745;
  margin-bottom: 1rem;
}

.courseInfo ul,
.studentList ul,
.assignmentsExams ul,
.gradeManagement ul,
.studentFinalGrade ul {
  list-style-type: none;
}

.courseInfo li,
.studentList li,
.assignmentsExams li,
.gradeManagement li,
.studentFinalGrade li {
  margin-bottom: 0.5rem;
}

.assignmentsExams h3 {
  padding-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  /*border-collapse makes the border in between gone for our segment table*/
  margin-top: 1rem;
}

table th,
table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #6fcf97;
}

table th {
  background-color: #28a745;
  color: white;
}

table tr:hover {
  background-color: #c3e6cb;
}

form {
  margin: 1rem;
}

.assignmentForm label {
  /*
    we didn't take display: block but in short 
    Elements with display:block will take up the full available width of their parent container.
    you can then manipluate it further using margins and border etc
    */
  display: block;
  margin-bottom: 0.5rem;
  color: #28a745;
}

.assignmentForm input[type="text"],
.assignmentForm input[type="date"],
.assignmentForm input[type="file"],
.assignmentForm input[type="number"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #6fcf97;
  border-radius: 4px;
}

.assignmentForm input[type="date"] {
  font-size: medium;
}

.assignmentForm button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.4s;
}

.assignmentForm button:hover {
  background-color: #6fcf97;
}

.finalGradeFOrm label,
.finalGradeFOrm button {
  display: block;
  margin: 0.5rem;
  color: #28a745;
}

.finalGradeFOrm select,
.finalGradeFOrm input {
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.finalGradeFOrm input[type="number"] {
  font-size: 1.5em;
  color: blue;
}

.finalGradeFOrm button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.4s;
}

.finalGradeFOrm button:hover {
  background-color: #6fcf97;
}
