* {
  /* reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

/* mobile view */
body {
  background-color: #eaeaea92;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow-x: hidden; /* prevents horizontal scrolling */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
  width: 100%;
}

h2 {
  margin-top: 15px;
}

.coursesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.course-card {
  min-width: 500px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .coursesContainer {
    grid-template-columns: 1fr;
  }
  .course-card {
    width: 435px;
  }
}
