* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}

.main {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 4fr auto;
  grid-template-rows: auto auto auto auto;
  gap: 5px;
  grid-template-areas:
    "header header header"
    "courseDetails description description"
    "instructorDetails DateTime availableSeats"
    "gradeDistro - btn-container";
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-position: center;
  height: 90%;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.header {
  grid-area: header;
  background-color: aliceblue;
}

.courseDetails {
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: start;
  grid-area: courseDetails;
  background-color: antiquewhite;
}
.instructorDetails {
  grid-area: instructorDetails;
  background-color: aqua;
}
.gradeDistro {
  grid-area: gradeDistro;
  background-color: aquamarine;
}
.availableSeats {
  grid-area: availableSeats;
  background-color: azure;
}
.btn-container {
  display: flex;
  padding: 5px;
  grid-area: btn-container;
  justify-content: center;
  display: flex;
  align-items: center;
}
.btn-container > button {
  border: none;
  border-radius: 15px;
  width: 75%;
  height: 40px;
  font-weight: bold;
  font-style: italic;
  transition: ease-in-out 0.2s;
}
.btn-container > button:hover {
  scale: 1.05;
}
.description {
  padding: 5px;
  text-align: start;
  grid-area: description;
  background-color: bisque;
}

.Date-Time {
  grid-area: DateTime;
  background-color: blanchedalmond;
}
