.coursesContainer > div {
  width: 50vw;
}
.course-card {
  min-width: 300px;
  width: 90vw;
  margin: 20px auto;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.course-card:hover {
  transform: scale(1.004);
}

.card-header {
  background-color: #b7b7b792;
  color: white;
  padding: 7px;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-body {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category {
  padding: 7px;
  background: rgb(238, 238, 238);
  border-radius: 5px;
  border-bottom: 4px solid #b7b7b792;
  width: max-content;
}

.card-section {
  line-height: 1.6;
}

.card-section p {
  margin: 4px 0;
}

.description {
  padding: 12px;
  background-color: #f5f8fa;
  border-left: 4px solid #b7b7b792;
  border-radius: 8px;
  font-style: italic;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.card-footer button {
  background-color: #8a8a8a92;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.card-footer button:hover {
  background-color: #7b7b7b92;
}

@media screen and (max-width: 767px) {
  .coursesContainer > div {
    min-width: 100%;
  }

  .course-card {
    width: 95vw;
    margin: 10px auto;
  }

  .card-body {
    padding: 16px 12px;
  }

  .card-footer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .card-footer button {
    width: 100%;
    max-width: 300px;
  }
}
