* {
  color: black;
  /* reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

/* mobile view */
body {
  background-color: #eaeaea92;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: white;
  padding: 0.5rem;
  width: 100%;
}

.searchBar {
  height: fit-content;
}
.searchBar::placeholder {
  text-align: center;
  opacity: 50%;
  font-weight: 500;
}

h2 {
  margin-top: 15px;
  text-align: center;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
}

.coursesContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}

.sectionsContainer {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}

/* large screen */
@media (min-width: 768px) {
  header nav {
    grid-template-columns: 1fr auto 1fr;
    padding: 0.25rem 0.6rem;
  }

  .searchBar {
    grid-column: 2;
    width: 30rem;
    justify-self: center;
    border-radius: 9px;
  }
}
