.sectionsCard {
  display: flex;
  background: linear-gradient(
    145deg,
    rgba(245, 222, 179, 0.8),
    rgba(245, 222, 179, 0.5),
    rgba(245, 222, 179, 0.45)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3), 3px 3px 3px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 200ram;
  margin: 10px;
  padding: 10px;
  display: grid;
  gap: 0.15rem;
}
.section-id {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#Register-sections {
  align-self: center;
  display: flex;
  width: 50%;
  justify-content: center;
}
