/* <!-- 🔹 Primary Colors: #007BFF, #4DA8DA, #a2b9cf --> */
/* ------------------------------------------------------- */
* {
  color: black;
  /* reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

/* mobile view */
body {
  background-color: #101827;

  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
}

header {
  background-color: white;
  height: fit-content;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem;
}
.search-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
}
.header-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.4s;
}
.header-btn:hover {
  background-color: #4da8da;
}
.searchBar {
  width: 15rem;
  height: 2rem;
  padding: 0.5rem;
  outline: none;
}
.searchBar:focus {
  border: #4da8da solid 0.1rem;
}

main {
  color: white;
  padding: 0.5rem;
  height: 100vh;
}

.mainContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.CoursesContainer{
  display: flex;
  flex-direction: column;
  padding: 20px;

}
/*card container desgin*/
.container {
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 4fr auto;
  grid-template-rows: auto auto auto auto;
  gap: 5px;
  grid-template-areas:
    "header header header"
    "courseDetails description description"
    "- - btn-container";
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.header {
  grid-area: header;
  background-color: aliceblue;
}

.courseDetails {
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: start;
  grid-area: courseDetails;
  background-color: antiquewhite;
}

.btn-container {
  display: flex;
  width: 180px;
  grid-area: btn-container;
  justify-content: center;
  display: flex;
  align-items: center;
}
.btn-container > button {
  border: none;
  border-radius: 15px;
  width: 75%;
  height: 40px;
  font-weight: bold;
  font-style: italic;
  transition: ease-in-out 0.2s;
}
.btn-container > button:hover {
  scale: 1.05;
}
.description {
  padding: 5px;
  text-align: start;
  grid-area: description;
  background-color: bisque;
}

