/* <!-- 🔹 Primary Colors: #007BFF, #4DA8DA, #a2b9cf --> */
/* ------------------------------------------------------- */
* {
  /* reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

/* mobile view */
body {
  background-color: #101827;

  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
}

header {
  background-color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem;
}
.search-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
}
.header-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.4s;
}
.header-btn:hover {
  background-color: #4da8da;
}
.searchBar {
  width: 15rem;
  height: 2rem;
  padding: 0.5rem;
  outline: none;
}
.searchBar:focus {
  border: #4da8da solid 0.1rem;
}

main {
  color: white;
  padding: 0.5rem;
  height: 100vh;
}

.course-card {
  color: #007bff;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-left: 4px solid #007bff;
  padding: 0.3rem;
  margin: 0.5rem;
  transition: 0.4s;
}
.course-card p {
  color: #4da8da;
}
.course-card a {
  color: #a2b9cf;
}
.course-card:hover {
  cursor: pointer;
  scale: 1.025;
}

footer {
  padding: 0.5rem;
  color: #007bff;
  background-color: white;
}
